body{
    background: cyan;
    color: darkblue;
}
.heading{
    width: 80%;
    font-size: 22px;
}
.objects{
    font-size: 20px;
}
#camera{
    border: 2px dashed darkblue;
    width: 350px;
    height: 200px;
}
#object_accuracy{
    color: indigo;
}
#result_objectname{
    color: midnightblue;
}